@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  height: 100%;
  /* background: #4d4d4d; */
  /* background: #363636; */
  /* background: linear-gradient(to top right, #121212, #243755); */
  
}
.app{
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #121212;
  transition: .5s;
}
.app::-webkit-scrollbar {
  width: 12px;
}

.app::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.app::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app.dark-mode{
  background: linear-gradient(to top right, #c9fcfc55, #ffb6c135) !important;
}
.card.dark-mode{
  background:linear-gradient(to top right,#ffb6c1,  #afeeee)  !important;
}
.day-weather-item.dark-mode{
  background: linear-gradient(to top right, #77a8a8, #32425c);
}
.main-header.dark-mode{
  background: #496d6d !important;
}
.favorite-weather.dark-mode{
  background: linear-gradient(to top right, #77a8a8, #32425c);
}